In [1]:
#solving three equations

In [3]:
import numpy as np

In [10]:
a=np.array([[7,5,-3],[3,-5,2],[5,3,-7]])

In [11]:
a

array([[ 7,  5, -3],
       [ 3, -5,  2],
       [ 5,  3, -7]])

In [12]:
b=np.array([16,-8,0])

In [13]:
b

array([16, -8,  0])

In [14]:
np.linalg.solve(a,b)

array([1., 3., 2.])

In [17]:
arr1=np.array([[2,3],[4,5]])

In [18]:
print(arr1)

[[2 3]
 [4 5]]

In [19]:
np.linalg.det(arr1)

np.float64(-2.0)

In [20]:
np.linalg.inv(arr1)

array([[-2.5,  1.5],
       [ 2. , -1. ]])

In [21]:
#pandas basics

Pandas is a powerful, open-source Python library used for data manipulation and analysis. It provides data structures like DataFrames and Series that are highly efficient and user-friendly for handling and analyzing structured data, such as tables (similar to spreadsheets).

In [22]:
import pandas as pd

In [28]:
df= pd.read_csv('services.csv')

In [24]:
pd.read_csv('services.csv', header=None)

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
0,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
1,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
2,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
3,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
4,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
5,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
6,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
7,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
8,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
9,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
10,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
11,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
12,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
13,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
14,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
15,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
16,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
17,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
18,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
19,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
20,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
21,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
22,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
23,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [26]:
pd.read_csv('services.csv', usecols=["id", "location_id"])

    id  location_id
0    1            1
1    2            2
2    3            3
3    4            4
4    5            5
5    6            6
6    7            7
7    8            8
8    9            9
9   10           10
10  11           11
11  12           12
12  13           13
13  14           14
14  15           15
15  16           16
16  17           17
17  18           18
18  19           19
19  20           20
20  21           21
21  22           22
22  23           22

In [27]:
pd.read_csv('services.csv', skiprows=3)

,3,3.1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit from counseling,Offers supportive counseling services to San Mateo County residents age 55 or over.,Resident of San Mateo County age 55 or over,Unnamed: 9,...,Unnamed: 12,"Geriatric Counseling, Older Adults, Gay, Lesbian, Bisexual, Transgender Individuals, Mentoring Programs",Unnamed: 14,Senior Peer Counseling,Unnamed: 16,San Mateo County,active,Varies.,Unnamed: 20,Unnamed: 21
0,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
1,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
2,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
3,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
4,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
5,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
6,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
7,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
8,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
9,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
10,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
11,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
12,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
13,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
14,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
15,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
16,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
17,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
18,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
19,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [29]:
type(df)

pandas.core.frame.DataFrame

In [30]:
df

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN
5,6,6,NaN,NaN,NaN,Walk in or apply by phone for membership appli...,Any age,A multipurpose center offering a wide variety ...,NaN,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, In-Home Su...",NaN,Little House Recreational Activities,NaN,San Mateo County,active,No wait.,NaN,NaN
6,7,7,NaN,NaN,NaN,"Apply by phone or be referred by a doctor, soc...","Older adults who have memory or sensory loss, ...",Rosener House is a day center for older adults...,Age 18 or over,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Adult Day ...",NaN,Rosener House Adult Day Services,NaN,"Belmont, Burlingame, East Palo Alto",active,No wait.,NaN,NaN
7,8,8,NaN,NaN,NaN,Apply by phone.,"Senior citizens age 60 or over, disabled indiv...",Delivers a hot meal to the home of persons age...,Homebound person unable to cook or shop,NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Meals on Wheels - South County,NaN,"Belmont, East Palo Alto",active,No wait.,NaN,NaN
8,9,9,NaN,NaN,NaN,Walk in. Proof of residency in California requ...,"Ethnic minorities, especially Spanish speaking","Provides general reading material, including b...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Fair Oaks Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
9,10,10,NaN,NaN,NaN,Walk in. Proof of California residency to rece...,NaN,"Provides general reading and media materials, ...",Resident of California to obtain a card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Main Library,NaN,San Mateo County,active,No wait.,NaN,NaN
10,11,11,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library car...,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Schaberg Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
11,12,12,NaN,NaN,NaN,"Walk in or apply by phone, email or webpage re...","Adults, parents, children in 1st-12th grades i...",Offers an intergenerational literacy program f...,English-speaking adult reading at or below 7th...,NaN,...,NaN,"EDUCATION SERVICES, Adult, Alternative, Litera...",NaN,Project Read,NaN,Daly City,active,Depends on availability of tutors for small gr...,NaN,NaN
12,13,13,NaN,NaN,NaN,Walk in. Proof of California residency require...,NaN,"Provides general reading materials, including ...",Resident of California to obtain a library card,NaN,...,NaN,"EDUCATION SERVICES, Library, Libraries, Public...",NaN,Redwood Shores Branch,NaN,San Mateo County,active,No wait.,NaN,NaN
13,14,14,NaN,NaN,NaN,Call for appointment. Referral from human serv...,Individuals or families with low or no income ...,"Provides food, clothing, bus tokens and shelte...",None for most services. For emergency assistan...,NaN,...,NaN,"COMMUNITY SERVICES, Interpretation/Translation...",NaN,Redwood City Corps,NaN,"Belmont, Burlingame, East Palo Alto",active,Up to 20 minutes.,NaN,NaN
14,15,15,NaN,NaN,NaN,Walk in or through other agency referral.,Adult alcoholic/drug addictive men and women w...,Provides a long-term (6-12 month) residential ...,"Age 21-60, detoxed, physically able and willin...",NaN,...,NaN,"ALCOHOLISM SERVICES, Residential Care, DRUG AB...",NaN,Adult Rehabilitation Center,NaN,"Alameda County, San Mateo County",active,Varies according to available beds for men and...,NaN,NaN
15,16,16,NaN,NaN,NaN,"Walk in. Written application, identification r...",NaN,Provides emergency assistance including food a...,None for emergency assistance,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,Sunnyvale Corps,NaN,NaN,active,No wait.,NaN,NaN
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN
17,18,18,NaN,NaN,NaN,Call for screening appointment. Medical visits...,NaN,"By appointment only, Project Smile provides a ...",Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,Project Smile,NaN,East Palo Alto,active,Varies.,NaN,NaN
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [32]:
df.head()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN
1,2,2,NaN,NaN,NaN,Apply by phone for an appointment.,Residents of San Mateo County age 55 or over,Provides training and job placement to eligibl...,"Age 55 or over, county resident and willing an...",NaN,...,NaN,"EMPLOYMENT/TRAINING SERVICES, Job Development,...",NaN,Second Career Employment Program,NaN,San Mateo County,active,Varies.,NaN,NaN
2,3,3,NaN,NaN,NaN,Phone for information (403-4300 Ext. 4322).,Older adults age 55 or over who can benefit fr...,Offers supportive counseling services to San M...,Resident of San Mateo County age 55 or over,NaN,...,NaN,"Geriatric Counseling, Older Adults, Gay, Lesbi...",NaN,Senior Peer Counseling,NaN,San Mateo County,active,Varies.,NaN,NaN
3,4,4,NaN,NaN,NaN,Apply by phone.,"Parents, children, families with problems of c...",Provides supervised visitation services and a ...,NaN,NaN,...,NaN,"INDIVIDUAL AND FAMILY DEVELOPMENT SERVICES, Gr...",NaN,Family Visitation Center,NaN,San Mateo County,active,No wait.,NaN,NaN
4,5,5,NaN,NaN,NaN,Phone for information.,Low-income working families with children tran...,Provides fixed 8% short term loans to eligible...,Eligibility: Low-income family with legal cust...,NaN,...,NaN,"COMMUNITY SERVICES, Speakers, Automobile Loans",NaN,Economic Self-Sufficiency Program,NaN,San Mateo County,active,NaN,NaN,NaN

In [33]:
df.head(1)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN

In [34]:
df.tail()

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
18,19,19,NaN,NaN,NaN,Call for screening appointment (650-347-3648).,NaN,Provides free medical and dental care to those...,Low-income person without access to health care,NaN,...,NaN,"HEALTH SERVICES, Outpatient Care, Community Cl...",NaN,San Mateo Free Medical Clinic,NaN,"Belmont, Burlingame",active,Varies.,NaN,NaN
19,20,20,NaN,NaN,NaN,Walk in.,NaN,no unrequired fields for this service,NaN,NaN,...,NaN,NaN,NaN,Service with blank fields,NaN,NaN,defunct,NaN,NaN,NaN
20,21,21,NaN,NaN,NaN,By phone during business hours.,NaN,just a test service,NaN,NaN,...,NaN,NaN,NaN,Service for Admin Test Location,NaN,San Mateo County,inactive,NaN,NaN,NaN
21,22,22,NaN,"Cash, Check, Credit Card",Fotos para pasaportes,Walk in or apply by phone or mail,"Profit and nonprofit businesses, the public, m...",[NOTE THIS IS NOT A REAL SERVICE--THIS IS FOR ...,NaN,passports@example.org,...,We offer 3-way interpretation services over th...,"Salud, Medicina",Spanish,Passport Photos,Government-issued picture identification,"Alameda County, San Mateo County",active,No wait to 2 weeks.,http://www.example.com,"105, 108, 108-05, 108-05-01, 111, 111-05"
22,23,22,NaN,NaN,NaN,Walk in or apply by phone or mail,"Second service and nonprofit businesses, the p...",[NOTE THIS IS NOT A REAL ORGANIZATION--THIS IS...,NaN,NaN,...,NaN,"Ruby on Rails/Postgres/Redis, testing, wic",NaN,Example Service Name,NaN,"San Mateo County, Alameda County",active,No wait to 2 weeks,http://www.example.com,NaN

In [35]:
df.sample(1)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
16,17,17,NaN,NaN,NaN,Call for information.,NaN,"Provides emergency food, clothing and furnitur...",Low-income families,NaN,...,NaN,"COMMODITY SERVICES, Clothing/Personal Items, C...",NaN,South San Francisco Citadel Corps,NaN,"Colma, Daly City, South San Francisco",active,NaN,NaN,NaN

In [36]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [37]:
list(df.columns)

['id',
 'location_id',
 'program_id',
 'accepted_payments',
 'alternate_name',
 'application_process',
 'audience',
 'description',
 'eligibility',
 'email',
 'fees',
 'funding_sources',
 'interpretation_services',
 'keywords',
 'languages',
 'name',
 'required_documents',
 'service_areas',
 'status',
 'wait_time',
 'website',
 'taxonomy_ids']

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 22 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       23 non-null     int64
 1   location_id              23 non-null     int64
 2   program_id               0 non-null      float64
 3   accepted_payments        1 non-null      object
 4   alternate_name           1 non-null      object
 5   application_process      23 non-null     object
 6   audience                 14 non-null     object
 7   description              23 non-null     object
 8   eligibility              17 non-null     object
 9   email                    1 non-null      object
 10  fees                     21 non-null     object
 11  funding_sources          21 non-null     object
 12  interpretation_services  1 non-null      object
 13  keywords                 21 non-null     object
 14  languages                1 non-null      object
 15  name                     23 non-null     object
 16  required_documents       1 non-null      object
 17  service_areas            21 non-null     object
 18  status                   23 non-null     object
 19  wait_time                19 non-null     object
 20  website                  2 non-null      object
 21  taxonomy_ids             1 non-null      object
dtypes: float64(1), int64(2), object(19)
memory usage: 4.1+ KB

In [39]:
df.dtypes

id                           int64
location_id                  int64
program_id                 float64
accepted_payments           object
alternate_name              object
application_process         object
audience                    object
description                 object
eligibility                 object
email                       object
fees                        object
funding_sources             object
interpretation_services     object
keywords                    object
languages                   object
name                        object
required_documents          object
service_areas               object
status                      object
wait_time                   object
website                     object
taxonomy_ids                object
dtype: object

In [40]:
df.shape

(23, 22)

In [41]:
df.id

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
Name: id, dtype: int64

In [42]:
df['id']

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
Name: id, dtype: int64

In [43]:
type(df['id'])

pandas.core.series.Series

In [44]:
df['application_process']

0                            Walk in or apply by phone.
1                    Apply by phone for an appointment.
2           Phone for information (403-4300 Ext. 4322).
3                                       Apply by phone.
4                                Phone for information.
5     Walk in or apply by phone for membership appli...
6     Apply by phone or be referred by a doctor, soc...
7                                       Apply by phone.
8     Walk in. Proof of residency in California requ...
9     Walk in. Proof of California residency to rece...
10    Walk in. Proof of California residency require...
11    Walk in or apply by phone, email or webpage re...
12    Walk in. Proof of California residency require...
13    Call for appointment. Referral from human serv...
14            Walk in or through other agency referral.
15    Walk in. Written application, identification r...
16                                Call for information.
17    Call for screening appointment. Medical visits...
18       Call for screening appointment (650-347-3648).
19                                             Walk in.
20                      By phone during business hours.
21                    Walk in or apply by phone or mail
22                    Walk in or apply by phone or mail
Name: application_process, dtype: object

In [45]:
list(df['application_process'])

['Walk in or apply by phone.',
 'Apply by phone for an appointment.',
 'Phone for information (403-4300 Ext. 4322).',
 'Apply by phone.',
 'Phone for information.',
 'Walk in or apply by phone for membership application.',
 'Apply by phone or be referred by a doctor, social worker or other professional. All prospective participants are interviewed individually before starting the program. A recent physical examination is required, including a TB test.',
 'Apply by phone.',
 'Walk in. Proof of residency in California required to receive a library card.',
 'Walk in. Proof of California residency to receive a library card.',
 'Walk in. Proof of California residency required to receive a library card.',
 'Walk in or apply by phone, email or webpage registration.',
 'Walk in. Proof of California residency required to receive a library card.',
 'Call for appointment. Referral from human service professional preferred for emergency assistance.',
 'Walk in or through other agency referral.',
 'Walk in. Written application, identification required for emergency assistance.',
 'Call for information.',
 'Call for screening appointment. Medical visits are by appointment only.',
 'Call for screening appointment (650-347-3648).',
 'Walk in.',
 'By phone during business hours.',
 'Walk in or apply by phone or mail',
 'Walk in or apply by phone or mail']

In [46]:
pd.Series([2,3,4])

0    2
1    3
2    4
dtype: int64

In [47]:
type(pd.Series([2,3,4]))

pandas.core.series.Series

In [48]:
pd.Series([2,3,4], index=[100,'Deep',2])

100     2
Deep    3
2       4
dtype: int64

In [72]:
d=pd.DataFrame(pd.Series([2,3,4], index=[100,'Deep',2]))

In [73]:
d

      0
100   2
Deep  3
2     4

In [74]:
d.columns

RangeIndex(start=0, stop=1, step=1)

In [75]:
d.columns=['tr_id']

In [76]:
d

      tr_id
100       2
Deep      3
2         4

In [77]:
d[1]='adi'

In [78]:
d

      tr_id    1
100       2  adi
Deep      3  adi
2         4  adi

In [79]:
d.columns=['tr_id', 'name']

In [80]:
d

      tr_id name
100       2  adi
Deep      3  adi
2         4  adi

In [81]:
d.reset_index()

  index  tr_id name
0   100      2  adi
1  Deep      3  adi
2     2      4  adi

In [82]:
d

      tr_id name
100       2  adi
Deep      3  adi
2         4  adi

In [83]:
# d.reset_index(inplace= True)
d

      tr_id name
100       2  adi
Deep      3  adi
2         4  adi

In [84]:
d.reset_index(drop= True)

   tr_id name
0      2  adi
1      3  adi
2      4  adi

In [85]:
d.reset_index(drop= True)

   tr_id name
0      2  adi
1      3  adi
2      4  adi

In [88]:
d.reset_index(drop= True, inplace=True)
d

   tr_id name
0      2  adi
1      3  adi
2      4  adi

In [89]:
df['id','program_id']

KeyError: ('id', 'program_id')

In [90]:
df[['id','program_id']]

    id  program_id
0    1         NaN
1    2         NaN
2    3         NaN
3    4         NaN
4    5         NaN
5    6         NaN
6    7         NaN
7    8         NaN
8    9         NaN
9   10         NaN
10  11         NaN
11  12         NaN
12  13         NaN
13  14         NaN
14  15         NaN
15  16         NaN
16  17         NaN
17  18         NaN
18  19         NaN
19  20         NaN
20  21         NaN
21  22         NaN
22  23         NaN

In [91]:
df[['id']]

    id
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9   10
10  11
11  12
12  13
13  14
14  15
15  16
16  17
17  18
18  19
19  20
20  21
21  22
22  23

In [92]:
type(df[['id']])

pandas.core.frame.DataFrame

In [93]:
df.head(1)

,id,location_id,program_id,accepted_payments,alternate_name,application_process,audience,description,eligibility,email,...,interpretation_services,keywords,languages,name,required_documents,service_areas,status,wait_time,website,taxonomy_ids
0,1,1,NaN,NaN,NaN,Walk in or apply by phone.,"Older adults age 55 or over, ethnic minorities...",A walk-in center for older adults that provide...,"Age 55 or over for most programs, age 60 or ov...",NaN,...,NaN,"ADULT PROTECTION AND CARE SERVICES, Meal Sites...",NaN,Fair Oaks Adult Activity Center,NaN,Colma,active,No wait.,NaN,NaN

In [94]:
df.columns

Index(['id', 'location_id', 'program_id', 'accepted_payments',
       'alternate_name', 'application_process', 'audience', 'description',
       'eligibility', 'email', 'fees', 'funding_sources',
       'interpretation_services', 'keywords', 'languages', 'name',
       'required_documents', 'service_areas', 'status', 'wait_time', 'website',
       'taxonomy_ids'],
      dtype='object')

In [97]:
df_subset=df[['email', 'fees', 'funding_sources',
       'interpretation_services']]
df_subset

,email,fees,funding_sources,interpretation_services
0,NaN,$2.50 suggested donation for lunch for age 60 ...,"City, County, Donations, Fees, Fundraising",NaN
1,NaN,None. Donations requested of clients who can a...,"County, Federal, State",NaN
2,NaN,None.,"County, Donations, Grants",NaN
3,NaN,"Vary according to income ($5-$90). Cash, check...","County, Donations, Grants",NaN
4,NaN,$60 application fee. Cash or checks accepted.,"County, Grants, State",NaN
5,NaN,$55 per year membership dues. Classes have fee...,"Fees, Fundraising, Grants, Dues",NaN
6,NaN,$85 per day. Vary according to income for thos...,"Donations, Fees, Grants",NaN
7,NaN,Suggested donation of $4.25 per meal for senio...,"County, Donations",NaN
8,NaN,None.,"City, County",NaN
9,NaN,None.,City,NaN
10,NaN,None.,City,NaN
11,NaN,None.,"City, Donations, Federal, Grants, State",NaN
12,NaN,None.,City,NaN
13,NaN,None.,"Donations, Grants",NaN
14,NaN,None.,"Donations, Sales",NaN
15,NaN,None for emergency services. Vary for after sc...,"Donations, Fees, Grants",NaN
16,NaN,None.,Donations,NaN
17,NaN,None.,"Donations, Grants",NaN
18,NaN,None.,"Donations, Grants",NaN
19,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN
21,passports@example.org,"None, except for permits and photocopying. Cas...","City, County, Federal, State",We offer 3-way interpretation services over th...
22,NaN,"None, except for permits and photocopying. Cas...","City, County, Federal, State",NaN

In [101]:
df1=pd.read_excel('LUSID Excel - Setting up your market data.xlsx')

In [99]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.5-py2.py3-none-any.whl.metadata (2.5 kB)
Collecting et-xmlfile (from openpyxl)
  Downloading et_xmlfile-1.1.0-py3-none-any.whl.metadata (1.8 kB)
Downloading openpyxl-3.1.5-py2.py3-none-any.whl (250 kB)
   ---------------------------------------- 0.0/250.9 kB ? eta -:--:--
   ---- ---------------------------------- 30.7/250.9 kB 660.6 kB/s eta 0:00:01
   ------------------- -------------------- 122.9/250.9 kB 1.4 MB/s eta 0:00:01
   ---------------------------------------  245.8/250.9 kB 1.9 MB/s eta 0:00:01
   ---------------------------------------- 250.9/250.9 kB 1.9 MB/s eta 0:00:00
Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.5
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [102]:
df1

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,Datetimes in LUSID,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,This sheet allows you to format datetimes for...,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,If you have any questions please visit our:,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,Getting Started tutorials,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,Knowledge Base articles,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,or Contact us,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,LUSID accepts datetimes in any recognised Exce...,NaN,NaN,"LUSID also accepts UTC, UTS offsets and cutlabels",NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,Excel formats to show datetime,NaN,NaN,Additional formats,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,Enter the date to convert,2019-04-10 00:00:00,NaN,Standard UTC timestamp:,"""YYYY-MM-DDTHH:MM:SS.00Z""","Where Z indicates Zulu time (UTC+0), and is eq..."
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,This date has no time component,2019-04-10 00:00:00,NaN,Convert date into a string,2019-04-10T 13:30:45.55Z,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,Specify time component,13:30:45.550000,NaN,UTC offset (not recognised as an excel date),2019-04-10T13:30:45+04:00,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,Add to your date and display the complete date...,2019-04-10 13:30:45.550000,NaN,Cutlabel,2019-04-10NSingaporeClose,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,Although the date can still appears without time,2019-04-10 13:30:45.550000,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,Add an hour to your datetime,2019-04-10 14:30:45.550000,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,Subtract a minute from your datetime,2019-04-10 14:29:45.550000,NaN,NaN,NaN,NaN

In [103]:
df1.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4',
       'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9'],
      dtype='object')

In [104]:
df1.dtypes

Unnamed: 0    float64
Unnamed: 1    float64
Unnamed: 2    float64
Unnamed: 3     object
Unnamed: 4     object
Unnamed: 5     object
Unnamed: 6    float64
Unnamed: 7     object
Unnamed: 8     object
Unnamed: 9     object
dtype: object

In [107]:
df2=pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv')

In [108]:
df2

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [109]:
df2.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [111]:
df3=df2[['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare']]

In [112]:
df3

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare
0,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500
1,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833
2,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250
3,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000
4,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000
887,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000
888,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500
889,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000
890,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500

In [114]:
df3.to_csv('test.csv', index= False)

In [115]:
pip install lxml

Collecting lxml
  Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl.metadata (3.9 kB)
Downloading lxml-5.3.0-cp312-cp312-win_amd64.whl (3.8 MB)
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   ---------------------------------------- 0.0/3.8 MB ? eta -:--:--
   - -------------------------------------- 0.1/3.8 MB 1.7 MB/s eta 0:00:03
   -- ------------------------------------- 0.2/3.8 MB 2.3 MB/s eta 0:00:02
   ---- ----------------------------------- 0.5/3.8 MB 2.8 MB/s eta 0:00:02
   ------- -------------------------------- 0.7/3.8 MB 3.3 MB/s eta 0:00:01
   --------- ------------------------------ 0.9/3.8 MB 3.7 MB/s eta 0:00:01
   ------------ --------------------------- 1.2/3.8 MB 4.2 MB/s eta 0:00:01
   -------------- ------------------------- 1.4/3.8 MB 4.1 MB/s eta 0:00:01
   --------------- ------------------------ 1.5/3.8 MB 4.0 MB/s eta 0:00:01
   ---------------- ----------------------- 1.6/3.8 MB 3.7 MB/s eta 0:00:01
   ------------------ --------------------- 1.7/3.8 MB 3.7 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 3.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 3.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 3.4 MB/s eta 0:00:01
   ------------------ --------------------- 1.8/3.8 MB 3.4 MB/s eta 0:00:01
   ------------------- -------------------- 1.9/3.8 MB 2.7 MB/s eta 0:00:01
   ------------------- -------------------- 1.9/3.8 MB 2.7 MB/s eta 0:00:01
   ----------------------- ---------------- 2.3/3.8 MB 2.8 MB/s eta 0:00:01
   ----------------------- ---------------- 2.3/3.8 MB 2.8 MB/s eta 0:00:01
   -------------------------- ------------- 2.6/3.8 MB 2.9 MB/s eta 0:00:01
   ---------------------------- ----------- 2.7/3.8 MB 2.9 MB/s eta 0:00:01
   ----------------------------- ---------- 2.9/3.8 MB 2.9 MB/s eta 0:00:01
   ------------------------------- -------- 3.1/3.8 MB 3.0 MB/s eta 0:00:01
   ---------------------------------- ----- 3.3/3.8 MB 3.1 MB/s eta 0:00:01
   ------------------------------------ --- 3.5/3.8 MB 3.1 MB/s eta 0:00:01
   -------------------------------------- - 3.7/3.8 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------  3.8/3.8 MB 3.2 MB/s eta 0:00:01
   ---------------------------------------- 3.8/3.8 MB 3.1 MB/s eta 0:00:00
Installing collected packages: lxml
Successfully installed lxml-5.3.0
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [116]:
import lxml

In [118]:
url_df=pd.read_html("https://www.basketball-reference.com/leagues/NBA_2015.html")

In [120]:
url_df

[      Eastern Conference                   W                   L  \
 0      Atlantic Division   Atlantic Division   Atlantic Division
 1       Toronto Raptors*                  49                  33
 2        Boston Celtics*                  40                  42
 3         Brooklyn Nets*                  38                  44
 4     Philadelphia 76ers                  18                  64
 5        New York Knicks                  17                  65
 6       Central Division    Central Division    Central Division
 7   Cleveland Cavaliers*                  53                  29
 8         Chicago Bulls*                  50                  32
 9       Milwaukee Bucks*                  41                  41
 10        Indiana Pacers                  38                  44
 11       Detroit Pistons                  32                  50
 12    Southeast Division  Southeast Division  Southeast Division
 13        Atlanta Hawks*                  60                  22
 14   Washington Wizards*                  46                  36
 15            Miami Heat                  37                  45
 16     Charlotte Hornets                  33                  49
 17         Orlando Magic                  25                  57

                   W/L%                  GB                PS/G  \
 0    Atlantic Division   Atlantic Division   Atlantic Division
 1                 .598                   —               104.0
 2                 .488                 9.0               101.4
 3                 .463                11.0                98.0
 4                 .220                31.0                92.0
 5                 .207                32.0                91.9
 6     Central Division    Central Division    Central Division
 7                 .646                   —               103.1
 8                 .610                 3.0               100.8
 9                 .500                12.0                97.8
 10                .463                15.0                97.3
 11                .390                21.0                98.5
 12  Southeast Division  Southeast Division  Southeast Division
 13                .732                   —               102.5
 14                .561                14.0                98.5
 15                .451                23.0                94.7
 16                .402                27.0                94.2
 17                .305                35.0                95.7

                   PA/G                 SRS
 0    Atlantic Division   Atlantic Division
 1                100.9                2.45
 2                101.2               -0.40
 3                100.9               -3.13
 4                101.0               -9.04
 5                101.2               -9.50
 6     Central Division    Central Division
 7                 98.7                4.08
 8                 97.8                2.54
 9                 97.4               -0.09
 10                97.0               -0.23
 11                99.5               -1.39
 12  Southeast Division  Southeast Division
 13                97.1                4.75
 14                97.8                0.17
 15                97.3               -2.92
 16                97.3               -3.44
 17               101.4               -5.87  ,
          Western Conference                   W                   L  \
 0        Northwest Division  Northwest Division  Northwest Division
 1   Portland Trail Blazers*                  51                  31
 2     Oklahoma City Thunder                  45                  37
 3                 Utah Jazz                  38                  44
 4            Denver Nuggets                  30                  52
 5    Minnesota Timberwolves                  16                  66
 6          Pacific Division    Pacific Division    Pacific Division
 7    Golden State Warriors*                  67                  15
 8     Los Angeles Clippers*                  56                  26
 9              Phoenix Suns                  39                  43
 10         Sacramento Kings                  29                  53
 11       Los Angeles Lakers                  21                  61
 12       Southwest Division  Southwest Division  Southwest Division
 13         Houston Rockets*                  56                  26
 14       Memphis Grizzlies*                  55                  27
 15       San Antonio Spurs*                  55                  27
 16        Dallas Mavericks*                  50                  32
 17    New Orleans Pelicans*                  45                  37

                   W/L%                  GB                PS/G  \
 0   Northwest Division  Northwest Division  Northwest Division
 1                 .622                   —               102.8
 2                 .549                 6.0               104.0
 3                 .463                13.0                95.1
 4                 .366                21.0               101.5
 5                 .195                35.0                97.8
 6     Pacific Division    Pacific Division    Pacific Division
 7                 .817                   —               110.0
 8                 .683                11.0               106.7
 9                 .476                28.0               102.4
 10                .354                38.0               101.3
 11                .256                46.0                98.5
 12  Southwest Division  Southwest Division  Southwest Division
 13                .683                   —               103.9
 14                .671                 1.0                98.3
 15                .671                 1.0               103.2
 16                .610                 6.0               105.2
 17                .549                11.0                99.4

                   PA/G                 SRS
 0   Northwest Division  Northwest Division
 1                 98.6                4.41
 2                101.8                2.47
 3                 94.9                0.71
 4                105.0               -3.07
 5                106.5               -8.00
 6     Pacific Division    Pacific Division
 7                 99.9               10.01
 8                100.1                6.80
 9                103.3               -0.38
 10               105.0               -3.07
 11               105.3               -6.17
 12  Southwest Division  Southwest Division
 13               100.5                3.82
 14                95.1                3.62
 15                97.0                6.34
 16               102.3                3.36
 17                98.6                1.13  ,
       Rk                     Team   G     MP    FG   FGA    FG%    3P   3PA  \
 0    1.0   Golden State Warriors*  82  240.6  41.6  87.0  0.478  10.8  27.0
 1    2.0    Los Angeles Clippers*  82  240.6  39.4  83.3  0.473  10.1  26.9
 2    3.0        Dallas Mavericks*  82  242.4  39.7  85.8  0.463   8.9  25.4
 3    4.0    Oklahoma City Thunder  82  241.8  38.8  86.8  0.447   7.7  22.7
 4    5.0         Toronto Raptors*  82  242.1  37.9  83.3  0.455   8.9  25.1
 5    6.0         Houston Rockets*  82  241.5  37.0  83.3  0.444  11.4  32.7
 6    7.0       San Antonio Spurs*  82  243.4  39.1  83.6  0.468   8.3  22.5
 7    8.0     Cleveland Cavaliers*  82  241.2  37.7  82.2  0.458  10.1  27.5
 8    9.0  Portland Trail Blazers*  82  242.1  38.7  86.0  0.450   9.8  27.2
 9   10.0           Atlanta Hawks*  82  240.6  38.1  81.7  0.466  10.0  26.2
 10  11.0             Phoenix Suns  82  242.4  38.8  85.8  0.452   8.5  25.0
 11  12.0           Denver Nuggets  82  242.4  37.8  87.3  0.433   8.0  24.8
 12  13.0          Boston Celtics*  82  242.4  38.9  87.9  0.443   8.0  24.6
 13  14.0         Sacramento Kings  82  242.1  36.7  80.7  0.455   5.6  16.5
 14  15.0           Chicago Bulls*  82  242.4  36.6  82.9  0.442   7.9  22.3
 15  16.0    New Orleans Pelicans*  82  241.2  37.9  82.9  0.457   7.1  19.3
 16  17.0      Washington Wizards*  82  243.4  38.3  82.8  0.462   6.1  16.8
 17  18.0       Los Angeles Lakers  82  243.0  37.2  85.6  0.435   6.5  18.9
 18  19.0          Detroit Pistons  82  241.8  37.1  85.8  0.432   8.6  24.9
 19  20.0       Memphis Grizzlies*  82  242.7  37.8  82.5  0.458   5.2  15.2
 20  21.0           Brooklyn Nets*  82  243.0  37.4  83.0  0.451   6.6  19.9
 21  22.0   Minnesota Timberwolves  82  241.5  36.4  83.2  0.438   5.0  14.9
 22  23.0         Milwaukee Bucks*  82  243.0  37.6  82.0  0.459   6.6  18.3
 23  24.0           Indiana Pacers  82  242.1  36.6  83.2  0.439   7.5  21.2
 24  25.0            Orlando Magic  82  240.9  37.5  82.8  0.453   6.8  19.5
 25  26.0                Utah Jazz  82  240.3  35.4  79.2  0.447   7.4  21.7
 26  27.0               Miami Heat  82  240.6  35.2  77.2  0.456   6.8  20.2
 27  28.0        Charlotte Hornets  82  242.7  35.5  84.5  0.420   6.1  19.1
 28  29.0       Philadelphia 76ers  82  241.5  33.7  82.6  0.408   8.4  26.3
 29  30.0          New York Knicks  82  242.1  35.1  82.0  0.428   6.8  19.7
 30   NaN           League Average  82  242.0  37.5  83.6  0.449   7.8  22.4

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.398  ...  0.768  10.4  34.3  44.7  27.4  9.3  6.0  14.5  19.9  110.0
 1   0.376  ...  0.710   9.6  33.1  42.6  24.8  7.8  5.0  12.3  21.3  106.7
 2   0.352  ...  0.752  10.5  31.8  42.3  22.5  8.1  4.5  13.0  20.0  105.2
 3   0.339  ...  0.754  12.8  34.7  47.5  20.5  7.3  5.5  14.7  22.3  104.0
 4   0.352  ...  0.787  10.7  30.8  41.5  20.7  7.5  4.4  12.9  20.9  104.0
 5   0.348  ...  0.715  11.7  32.0  43.7  22.2  9.5  5.0  16.7  22.0  103.9
 6   0.367  ...  0.780   9.8  33.8  43.6  24.4  8.0  5.4  14.0  19.1  103.2
 7   0.367  ...  0.751  11.1  31.9  43.0  22.1  7.4  4.1  14.3  18.4  103.1
 8   0.362  ...  0.801  10.7  35.1  45.9  21.9  6.4  4.5  13.6  18.2  102.8
 9   0.380  ...  0.778   8.7  31.8  40.6  25.7  9.1  4.6  14.2  17.8  102.5
 10  0.341  ...  0.760  10.9  32.2  43.2  20.2  8.5  4.7  15.1  21.3  102.4
 11  0.325  ...  0.734  12.3  32.4  44.7  21.8  7.8  4.5  14.2  23.0  101.5
 12  0.327  ...  0.754  11.1  32.7  43.8  24.5  8.2  3.6  13.8  21.2  101.4
 13  0.341  ...  0.762  10.9  33.3  44.2  20.3  6.7  4.0  16.3  20.7  101.3
 14  0.353  ...  0.783  11.7  34.0  45.7  21.7  6.3  5.8  14.0  18.2  100.8
 15  0.370  ...  0.751  11.5  32.0  43.5  22.0  6.7  6.2  13.3  18.7   99.4
 16  0.360  ...  0.742  10.5  34.2  44.7  24.0  7.3  4.6  15.0  20.8   98.5
 17  0.344  ...  0.741  11.6  32.3  43.9  20.9  7.0  4.5  13.2  21.2   98.5
 18  0.344  ...  0.703  12.8  32.1  44.9  21.6  7.6  4.7  13.4  19.0   98.5
 19  0.339  ...  0.773  10.4  32.1  42.6  21.7  8.5  4.2  13.3  19.1   98.3
 20  0.331  ...  0.748  10.3  32.0  42.4  20.9  7.0  4.1  13.8  19.3   98.0
 21  0.332  ...  0.776  11.6  29.3  40.9  21.6  8.1  4.0  15.0  19.2   97.8
 22  0.363  ...  0.757  10.7  31.4  42.1  23.6  9.6  4.9  16.7  22.1   97.8
 23  0.352  ...  0.756  10.4  34.4  44.9  21.4  6.2  4.6  14.0  21.2   97.3
 24  0.347  ...  0.729  10.0  31.8  41.8  20.6  7.9  3.8  14.9  20.9   95.7
 25  0.343  ...  0.721  12.0  31.9  44.0  19.9  7.6  6.0  15.3  19.3   95.1
 26  0.335  ...  0.741   9.1  30.0  39.1  19.8  7.8  4.5  14.8  20.0   94.7
 27  0.318  ...  0.748  10.0  34.1  44.1  20.2  6.1  5.5  11.9  18.2   94.2
 28  0.320  ...  0.676  11.9  30.9  42.9  20.5  9.6  5.9  17.7  21.7   92.0
 29  0.347  ...  0.769  10.6  29.8  40.4  21.3  7.0  4.7  14.7  21.6   91.9
 30  0.350  ...  0.750  10.9  32.4  43.3  22.0  7.7  4.8  14.4  20.2  100.0

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%   3P   3PA  \
 0    1.0                Utah Jazz  82  240.3  35.8  80.3  0.446  7.4  20.4
 1    2.0       Memphis Grizzlies*  82  242.7  36.0  81.5  0.442  8.1  23.0
 2    3.0       San Antonio Spurs*  82  243.4  37.1  83.7  0.444  6.8  18.9
 3    4.0           Indiana Pacers  82  242.1  36.0  82.7  0.435  7.2  20.9
 4    5.0           Atlanta Hawks*  82  240.6  36.5  83.1  0.439  8.8  25.8
 5    6.0        Charlotte Hornets  82  242.7  36.8  83.7  0.440  7.9  22.1
 6    7.0               Miami Heat  82  240.6  36.1  79.5  0.454  8.1  23.0
 7    8.0         Milwaukee Bucks*  82  243.0  35.6  81.5  0.437  8.2  24.1
 8    9.0      Washington Wizards*  82  243.4  36.2  83.5  0.433  8.0  23.0
 9   10.0           Chicago Bulls*  82  242.4  37.7  86.7  0.435  6.6  19.6
 10  11.0    New Orleans Pelicans*  82  241.2  37.9  83.1  0.456  6.5  19.6
 11  12.0  Portland Trail Blazers*  82  242.1  38.2  86.9  0.439  6.4  18.9
 12  13.0     Cleveland Cavaliers*  82  241.2  38.1  83.5  0.456  7.7  22.5
 13  14.0          Detroit Pistons  82  241.8  37.9  83.1  0.456  7.7  21.8
 14  15.0   Golden State Warriors*  82  240.6  37.0  86.4  0.428  7.2  21.4
 15  16.0    Los Angeles Clippers*  82  240.6  36.4  82.3  0.442  8.3  23.9
 16  17.0         Houston Rockets*  82  241.5  37.7  85.2  0.443  7.4  22.9
 17  18.0           Brooklyn Nets*  82  243.0  38.4  84.3  0.456  8.5  23.7
 18  19.0         Toronto Raptors*  82  242.1  38.0  82.8  0.459  7.7  22.3
 19  20.0       Philadelphia 76ers  82  241.5  37.1  82.7  0.449  8.0  22.9
 20  21.0          Boston Celtics*  82  242.4  38.1  84.7  0.450  7.4  22.0
 21  22.0          New York Knicks  82  242.1  37.0  80.4  0.460  8.5  22.3
 22  23.0            Orlando Magic  82  240.9  38.0  82.0  0.463  8.3  22.6
 23  24.0    Oklahoma City Thunder  82  241.8  37.6  85.5  0.440  8.3  24.2
 24  25.0        Dallas Mavericks*  82  242.4  38.0  84.5  0.450  9.0  24.8
 25  26.0             Phoenix Suns  82  242.4  38.4  85.0  0.452  7.7  21.9
 26  27.0         Sacramento Kings  82  242.1  39.5  86.5  0.456  8.8  25.1
 27  28.0           Denver Nuggets  82  242.4  38.6  84.3  0.458  7.7  22.2
 28  29.0       Los Angeles Lakers  82  243.0  38.8  83.1  0.466  8.5  23.4
 29  30.0   Minnesota Timberwolves  82  241.5  41.1  84.5  0.487  8.5  23.1
 30   NaN           League Average  82  242.0  37.5  83.6  0.449  7.8  22.4

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF    PTS
 0   0.362  ...  0.744   9.9  29.3  39.2  19.4  8.2  4.7  13.1  19.6   94.9
 1   0.351  ...  0.742  10.5  31.9  42.4  20.1  7.4  5.2  15.3  20.3   95.1
 2   0.360  ...  0.745   9.9  32.2  42.1  20.7  7.9  4.4  14.2  19.7   97.0
 3   0.345  ...  0.753   9.8  33.0  42.7  19.9  7.5  4.7  12.7  21.4   97.0
 4   0.341  ...  0.764  11.6  32.1  43.6  23.5  7.4  4.9  16.1  19.6   97.1
 5   0.357  ...  0.772   8.9  35.2  44.1  22.1  6.1  5.4  12.6  20.8   97.3
 6   0.353  ...  0.730  10.9  30.1  41.0  21.3  7.9  4.4  14.8  20.9   97.3
 7   0.342  ...  0.742  11.4  31.4  42.9  22.3  8.6  4.8  17.4  20.1   97.4
 8   0.349  ...  0.738  10.0  31.7  41.7  19.9  8.0  4.3  14.0  19.6   97.8
 9   0.335  ...  0.749  11.7  31.7  43.4  20.2  7.5  5.4  12.2  21.2   97.8
 10  0.335  ...  0.759  10.6  30.9  41.5  20.7  6.8  5.8  12.2  18.7   98.6
 11  0.338  ...  0.758  11.0  33.6  44.6  20.4  8.0  3.6  12.2  18.7   98.6
 12  0.343  ...  0.745  10.8  30.3  41.1  24.1  7.8  4.5  13.3  20.5   98.7
 13  0.355  ...  0.772  10.7  33.4  44.1  23.8  7.0  4.8  14.0  19.3   99.5
 14  0.337  ...  0.763  11.7  32.8  44.5  21.0  8.3  3.6  16.2  18.8   99.9
 15  0.349  ...  0.741  10.6  32.3  42.9  23.2  6.7  3.0  14.3  21.5  100.1
 16  0.322  ...  0.751  11.9  32.0  43.8  21.4  8.9  5.3  16.4  21.1  100.5
 17  0.358  ...  0.731  11.4  32.9  44.3  23.7  7.8  4.5  13.9  20.0  100.9
 18  0.346  ...  0.733  11.2  31.2  42.5  22.8  6.9  5.0  14.4  20.3  100.9
 19  0.350  ...  0.756  11.5  34.8  46.3  23.7  9.5  5.5  16.8  20.2  101.0
 20  0.336  ...  0.755  10.9  33.8  44.7  21.9  7.1  5.3  15.1  18.8  101.2
 21  0.380  ...  0.759  11.0  32.5  43.5  21.7  8.0  4.3  14.1  19.1  101.2
 22  0.368  ...  0.751  10.1  33.4  43.5  23.4  7.7  5.4  14.5  17.9  101.4
 23  0.343  ...  0.745  11.2  31.5  42.7  22.1  7.8  4.6  13.6  20.4  101.8
 24  0.364  ...  0.753  12.3  33.9  46.1  22.3  7.3  3.8  16.3  22.1  102.3
 25  0.352  ...  0.759  11.6  33.7  45.3  21.1  7.9  4.1  15.6  20.3  103.3
 26  0.349  ...  0.748  11.0  30.2  41.2  23.3  8.7  6.2  12.9  23.9  105.0
 27  0.346  ...  0.748  11.0  34.1  45.1  23.1  7.5  6.1  14.4  20.7  105.0
 28  0.363  ...  0.745  10.0  34.1  44.2  24.0  7.5  4.8  13.0  19.4  105.3
 29  0.367  ...  0.759  11.6  31.9  43.6  23.6  8.4  5.5  15.2  21.4  106.5
 30  0.350  ...  0.750  10.9  32.4  43.3  22.0  7.7  4.8  14.4  20.2  100.0

 [31 rows x 25 columns],
       Rk                     Team   G     MP    FG   FGA    FG%   3P   3PA  \
 0    1.0   Golden State Warriors*  82  19730  3410  7137  0.478  883  2217
 1    2.0    Los Angeles Clippers*  82  19730  3228  6830  0.473  827  2202
 2    3.0        Dallas Mavericks*  82  19880  3255  7036  0.463  732  2082
 3    4.0         Toronto Raptors*  82  19855  3108  6829  0.455  726  2060
 4    5.0    Oklahoma City Thunder  82  19830  3184  7119  0.447  632  1864
 5    6.0         Houston Rockets*  82  19805  3032  6832  0.444  933  2680
 6    7.0       San Antonio Spurs*  82  19955  3208  6854  0.468  677  1847
 7    8.0     Cleveland Cavaliers*  82  19780  3089  6739  0.458  826  2253
 8    9.0  Portland Trail Blazers*  82  19855  3175  7049  0.450  807  2231
 9   10.0           Atlanta Hawks*  82  19730  3121  6699  0.466  818  2152
 10  11.0             Phoenix Suns  82  19880  3178  7038  0.452  698  2048
 11  12.0           Denver Nuggets  82  19880  3099  7158  0.433  660  2032
 12  13.0          Boston Celtics*  82  19880  3193  7211  0.443  660  2021
 13  14.0         Sacramento Kings  82  19855  3010  6617  0.455  461  1350
 14  15.0           Chicago Bulls*  82  19880  3001  6797  0.442  645  1825
 15  16.0    New Orleans Pelicans*  82  19780  3108  6795  0.457  586  1583
 16  17.0      Washington Wizards*  82  19955  3139  6790  0.462  497  1381
 17  18.0          Detroit Pistons  82  19830  3041  7038  0.432  703  2043
 18  19.0       Los Angeles Lakers  82  19930  3054  7020  0.435  532  1546
 19  20.0       Memphis Grizzlies*  82  19905  3097  6763  0.458  423  1246
 20  21.0           Brooklyn Nets*  82  19930  3069  6804  0.451  541  1633
 21  22.0         Milwaukee Bucks*  82  19930  3083  6722  0.459  545  1500
 22  23.0   Minnesota Timberwolves  82  19805  2986  6820  0.438  406  1223
 23  24.0           Indiana Pacers  82  19855  2998  6824  0.439  612  1740
 24  25.0            Orlando Magic  82  19755  3076  6792  0.453  554  1598
 25  26.0                Utah Jazz  82  19705  2900  6492  0.447  610  1781
 26  27.0               Miami Heat  82  19730  2885  6330  0.456  556  1659
 27  28.0        Charlotte Hornets  82  19905  2913  6932  0.420  498  1566
 28  29.0       Philadelphia 76ers  82  19805  2765  6777  0.408  692  2160
 29  30.0          New York Knicks  82  19855  2882  6726  0.428  560  1614
 30   NaN           League Average  82  19840  3076  6852  0.449  643  1838

       3P%  ...    FT%   ORB   DRB   TRB   AST  STL  BLK   TOV    PF   PTS
 0   0.398  ...  0.768   853  2814  3667  2248  762  496  1185  1628  9016
 1   0.376  ...  0.710   784  2711  3495  2031  640  409  1012  1749  8751
 2   0.352  ...  0.752   858  2608  3466  1846  663  371  1062  1644  8628
 3   0.352  ...  0.787   881  2526  3407  1701  615  357  1057  1712  8527
 4   0.339  ...  0.754  1052  2844  3896  1681  598  454  1205  1829  8524
 5   0.348  ...  0.715   958  2624  3582  1820  777  407  1366  1803  8522
 6   0.367  ...  0.780   806  2772  3578  2000  657  444  1146  1564  8461
 7   0.367  ...  0.751   911  2612  3523  1814  603  340  1171  1510  8457
 8   0.362  ...  0.801   879  2881  3760  1799  525  372  1117  1494  8429
 9   0.380  ...  0.778   715  2611  3326  2111  744  380  1167  1457  8409
 10  0.341  ...  0.760   896  2643  3539  1659  700  385  1238  1744  8397
 11  0.325  ...  0.734  1012  2653  3665  1788  641  367  1166  1882  8320
 12  0.327  ...  0.754   910  2685  3595  2009  674  294  1133  1738  8312

In [121]:
type(url_df)

list

In [122]:
len(url_df)

11

In [123]:
df5=url_df[0]

In [124]:
df5

,Eastern Conference,W,L,W/L%,GB,PS/G,PA/G,SRS
0,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division,Atlantic Division
1,Toronto Raptors*,49,33,.598,—,104.0,100.9,2.45
2,Boston Celtics*,40,42,.488,9.0,101.4,101.2,-0.40
3,Brooklyn Nets*,38,44,.463,11.0,98.0,100.9,-3.13
4,Philadelphia 76ers,18,64,.220,31.0,92.0,101.0,-9.04
5,New York Knicks,17,65,.207,32.0,91.9,101.2,-9.50
6,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division,Central Division
7,Cleveland Cavaliers*,53,29,.646,—,103.1,98.7,4.08
8,Chicago Bulls*,50,32,.610,3.0,100.8,97.8,2.54
9,Milwaukee Bucks*,41,41,.500,12.0,97.8,97.4,-0.09
10,Indiana Pacers,38,44,.463,15.0,97.3,97.0,-0.23
11,Detroit Pistons,32,50,.390,21.0,98.5,99.5,-1.39
12,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division,Southeast Division
13,Atlanta Hawks*,60,22,.732,—,102.5,97.1,4.75
14,Washington Wizards*,46,36,.561,14.0,98.5,97.8,0.17
15,Miami Heat,37,45,.451,23.0,94.7,97.3,-2.92
16,Charlotte Hornets,33,49,.402,27.0,94.2,97.3,-3.44
17,Orlando Magic,25,57,.305,35.0,95.7,101.4,-5.87